form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}